# Terraform files
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
backend.hcl
terraform.tfvars
terraform.tfplan
*.tfvars

# Python files
__pycache__

# Coverage files
.coverage