[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
aiohttp = "*"
asyncio = "*"
duckdb = "*"
pandas = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
behave = "*"
boto3 = "*"
boto3-stubs = "*"
coverage = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
python-dotenv = "*"
ruff = "*"
